version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    command: uvicorn src.backend.app:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8500:8000"
    volumes:
      - ./src:/app/src
    environment:
      - PYTHONUNBUFFERED=1
